<%- include('partials/header') %>

<div class="container py-3">

    <%- include('partials/flash') %>

    <h3>Welcome to your dashboard <span class="dashName"><%= user.username %></span> !</h3>

    <br>
    <h1 class="newFeature">Save/Download Feature Coming Soon</h1>
    
</div>

<%- include('partials/footer') %>

